/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
.vscode
x64
/External/Graphics
/.claude
/.build
/.github
/EngineAssets/Models/*
!/EngineAssets/Models/fullscreen.obj.meta
!/EngineAssets/Models/plane.obj.meta
!/EngineAssets/Models/sphere.obj.meta
/EngineAssets/Textures/*
!/EngineAssets/Textures/Water/
/EngineAssets/Textures/Water/*
!/EngineAssets/Textures/Water/DetailWaveTexture.png
!/EngineAssets/Textures/Water/DetailWaveTexture.png.meta
!/EngineAssets/Textures/Default/
/EngineAssets/Textures/Default/*
!/EngineAssets/Textures/Default/defaultSkinCavity.png
!/EngineAssets/Textures/Default/defaultSkinCavity.png.meta
!/EngineAssets/Textures/Default/defaultSkinMask.png
!/EngineAssets/Textures/Default/defaultSkinMask.png.meta
/openspec
